<footer class="mx-2 space-y-4 py-4">
  <h1>About the server</h1>
  <div>
    <p>
      This server is running on actix-web, a high perfomance web framework for
      Rust. It is a simple we bserver that returns the IP address of the client
    </p>
    <p>This ensures the fastest possible response time, all thanks to Rust!</p>
    <p>
      The source code is available on <a
        class="link link-primary"
        href="https://github.com/sirenityk/ifconfig-rs"
        target="_blank"
        rel="noopener noreferrer">GitHub</a
      >.
    </p>
  </div>
</footer>
